*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* ---------------------------------------- */

.text-uppercase
{
  text-transform: uppercase;
}

.mt-10
{
  margin-top: 10px;
}

.mt-20
{
  margin-top: 20px;
}

.mt-30
{
  margin-top: 30px;
}

.mt-40
{
  margin-top: 40px;
}

/* ---------------------------------------- */

aside
{
  background: #000;
  width: 230px;
  height: calc(100vh - 80px);
  position: absolute;
  padding: 20px;

    display: flex;
    flex-direction: column;
}

.logo img
{
  height: 40px;
}

.logo .fab
{
  visibility: hidden;
  position: absolute;
}

.sidebar-content
{
  /* display: flex;
  flex-direction: column; */
}

.menu-sidebar
{
  margin-top: 20px;
}

.menu-sidebar ul
{
  list-style: none;
}

.menu-sidebar ul li
{
  color: #878787;
  padding: 5px 0;
}

.section-sidebar svg
{
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.section-sidebar span
{
  vertical-align: middle;
  font-weight: 500;
  margin-left: 5px;
}

.playlist-sidebar
{
  color: #878787;
}

.playlist-sidebar h4
{
  font-weight: 700;
  color: #fff;
}

.square
{
  height: 40px;
  width: 40px;
  background: #878787;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square .fas
{
  color: #000;
  vertical-align: middle;
}

.new-playlist-sidebar
{
  display: flex;
  align-items: center;
}

.new-playlist-sidebar span
{
  margin-left: 10px;
  font-weight: 500;
}

.name-playlist-sidebar ul
{
  list-style: none;
}

.name-playlist-sidebar ul li
{
  padding: 5px 0;
  font-weight: 500;
}

.install-app
{
  color: #878787;
}

.install-app svg
{
  height: 16px;
}

.install-app svg, .install-app span
{
  vertical-align: middle;
}

.bottom-sidebar
{
  margin-top: auto;
}

.bottom-sidebar hr
{
  border: 1px solid #878787;
  width: 100%;
  margin: 7px 0;
}

.profile
{
  color: #fff;
}

.profile svg
{
  height: 16px;
}

.profile svg, .profile h4
{
  vertical-align: middle;
}

.profile h4
{
  display: inline;
  color: #fff;
}





/* ---------------------------------------- */

main
{
  background: #141922;
  overflow-y: auto;
  width: calc(100vw - 230px);
  height: calc(100vh - 80px);
  margin-left: 230px;
}

.topbar
{
  width: calc(100vw - 230px);
  height: 80px;
  background: rgba(0, 0, 0, 0.68);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  position: fixed;
}

.main-content
{
  padding-top: 90px;
}

.btn-topbar
{
  background: none;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 13px 50px;
  color: #fff;
  font-weight: 600;
}

.navbar-main
{
  display: flex;
  justify-content: center;
}

.navbar-main ul
{
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #878787;
  font-weight: 600;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-main ul li
{
  padding: 0 10px;
  margin-bottom: 10px;
}

.playlist-row-main
{
  display: flex;
  flex-wrap: wrap;
}

.playlist-group-main
{
  padding: 0 20px;
}

.playlist-group-main h2
{
  color: #fff;
}

.playlist-main
{
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.playlist-photo-main
{
  height: 160px;
  width: 160px;
}

#img-1
{
  background-image: url('../img/playlist/pl-1.jpeg');
  background-size: cover;
}

.playlist-title-main
{
  color: #fff;
  margin-top: 10px;
  margin-bottom: 5px;
}

.playlist-artist-main
{
  color: #878787;
}

#art-1
{
  background-image: url('../img/playlist/art-1.jpeg');
  background-size: cover;
  border-radius: 50%;
}

/* ---------------------------------------- */

footer
{
  height: 80px;
  background: #282828;
  width: 100vw;
  position: fixed;
  display: flex;
  padding: 15px 15px;
}

.footer-left
{
  display: flex;
  align-items: center;
  width: 30%;
}

.footer-left img
{
  height: 50px;
}

.footer-text
{
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 25px;
}

.footer-text h4
{
  color: #fff;
}

.footer-text span
{
  color: #878787;
  font-size: 0.9em;
}

.footer-left svg
{
  color: #878787;
  margin-right: 7px;
}

.footer-left .footer-text
{
  display: inline-block;
}

.footer-center
{
  width: 40%;
}

.buttons
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn
{
  background: none;
  border: none;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-start
{
  background: #fff;
  color: #000;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media all and (max-width: 600px)
{
  .logo img
  {
    visibility: hidden;
  }

  .logo .fab
  {
    visibility: visible;
    color: #fff;
    font-size: 40px;
  }

  .section-sidebar span
  {
    visibility: collapse;
  }

  aside
  {
    width: 80px;
  }

  .topbar
  {
    width: calc(100vw - 80px);
  }

  main
  {
    width: calc(100vw - 80px);
    margin-left: 80px;
  }

  .playlist-sidebar
  {
    visibility: collapse;
  }

  .menu-sidebar ul li
  {
    height: 40px;
  }

  .section-sidebar
  {
    text-align: center;
  }

  .bottom-sidebar
  {
    visibility: collapse;
  }
}
